@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bad+Script&display=swap");
/* @import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Charm&display=swap");

.test {
  margin-top: 50px;
}
.compteur {
  display: flex;
  position: absolute;

  height: 30px;
  width: 150px;
  color: black;
  margin-top: 240px;
  margin-left: 21px;
}
button {
  height: 20px;
  position: relative;
  top: 2px;
  left: 10px;
}
.compteur p {
  position: relative;
  top: -14px;
  margin-left: 3px;
  margin-right: 3px;
  left: 10px;
}
.stock_container {
  position: absolute;
  margin: auto;
  display: none;

  color: black;
  text-align: center;
}
.stock_container.active {
  display: block;
}
.stocklook {
  transition: 0.2s;
  float: right;
  margin-right: 80px;
}
.stocklook:hover {
  transform: scale(1.05);
}
