main {
  color: rgb(253, 228, 196);
  /* padding-top: 55px; */
  margin-top: 47px;
}
main a {
  text-decoration: none;
}
.burger-container {
  display: block;
  position: absolute;
  height: 66px;
  z-index: 999;

  left: 20px;
  top: 115px;
}
.burger-container.active {
  display: none;
}
/* création de la grille contenant le texte et le nom du cepage  */
.container {
  position: relative;
  margin-top: 10px;
  margin-left: 120px;
  margin-bottom: 20px;
  display: grid;
  box-shadow: 5px 10px 10px black;

  padding: 10px;
  grid-template-columns: 20% 80%;
  z-index: -1;
}
/* création de la rebrique produit */
.titreproduit {
  text-align: center;
  color: #000;
}
/* conteneur parent en display flex */

.product {
  display: flex;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 15px;
}
/* création de la grille contenant les 4 autres grilles  */
.produitgrid {
  max-width: 1400px;
  width: 90%;
  height: auto;
  padding: 3px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  justify-content: center;
  grid-gap: 18px;
}
/* style de chaque case */
.produitgrid li {
  text-decoration: none;
  text-align: center;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  height: 200px;
  width: 12em;
  border-radius: 2%;
}
/* grille composant chaque produit */
.produit {
  display: grid;
  grid-template-rows: 80% 20%;
  grid-template-columns: 80% 20%;
  /* border: solid 0.5px #000; */
  padding: 2%;
  grid-template-areas:
    "i1 i2"
    "i3 i4";
  text-decoration: none;
  margin-bottom: 16px;
}
/* meme démarche pour la promotion */
.titrepromo {
  text-align: center;
  color: #000;
}

.promotion {
  display: flex;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 15px;
}
.promogrid {
  max-width: 1400px;
  width: 90%;
  height: auto;

  padding: 3px;

  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  justify-content: center;
  grid-gap: 18px;
}

.promogrid li {
  text-decoration: none;
  text-align: center;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  height: 200px;
  width: 12em;
  border-radius: 2%;
}
.promo {
  display: grid;
  grid-template-rows: 80% 20%;
  grid-template-columns: 80% 20%;
  /* border: solid 0.5px #000; */
  padding: 2%;
  grid-template-areas:
    "i1 i2"
    "i3 i4";
  margin-bottom: 16px;
}
.produitgrid li,
.promogrid li {
  background-color: #fff;
  border-radius: 4%;
}
/* adaptation de la description et du prix  */
.description {
  grid-area: i3;
  margin-top: -37px;
  color: #000;
  font-weight: 700;
  margin-left: 5px;
}
.prix {
  grid-area: i4;
  color: #6d071a;
  font-size: 20px;
  margin-top: -62px;
  margin-left: -10px;
}

.panier_produit {
  position: relative;
  left: -150px;

  z-index: 0;
}

.ajouter_au_panier {
  font-size: 12px;
  position: relative;
  margin-top: 260px;
  margin-left: 21px;
  width: 304%;
  color: antiquewhite;
  background-color: rgb(5, 88, 15);
}
.ajouter_au_panier.active {
  width: 327%;
}
.test {
  margin-top: 50px;
}
.compteur {
  display: flex;
  position: absolute;

  height: 30px;
  width: 150px;
  color: black;
  margin-top: 240px;
  margin-left: 21px;
}

button {
  height: 20px;
  position: relative;
  top: 2px;
  left: 10px;
}
.container {
  background-color: #6d071a;
}
.ajouter,
.retirer {
  background-color: #6d071a;
  color: antiquewhite;
}
.compteur p {
  position: relative;
  top: -14px;
  margin-left: 3px;
  margin-right: 3px;
  left: 10px;
}
.stock_container {
  position: absolute;
  margin: auto;
  display: none;

  color: black;
  text-align: center;
}
.stock_container.active {
  display: block;
}
.stocklook {
  transition: 0.2s;
  float: right;
  margin-right: 85px;
  margin-top: -60px;
  height: 25px;
}
.stocklook:hover {
  transform: scale(1.09);
}

.imgbase:hover {
  opacity: 0.6;
  cursor: pointer; /* Ajoutez le curseur pointer pour indiquer que l'image est cliquable */
}
.popupoverlay {
  visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #333333d3;
}
.popupoverlay.active {
  visibility: visible;
  position: absolute;
  width: 100%;
  height: 550%;
  background: #333333d3;
  z-index: 1;
}
.modale {
  display: none;
  position: fixed;
  z-index: 103; /* Sit on top */
  padding-top: 150px;
  padding-left: 0%; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  z-index: 10;
}

.modale.active {
  display: block;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(3.5);
  }
}
.imagemodale {
  margin: auto;
  width: 8%;
  display: block;
  z-index: 104;
  animation-name: zoom;
  animation-duration: 0.3s;
  transform: scale(3); /* Ajustez la valeur pour réduire le zoom */
  /* padding-bottom: -200px; */
}
.imgbase {
  width: 170px;
}

.linecroix {
  display: block;
  margin-left: 4px;
  height: 7px;
  width: 100%;
  border-radius: 20px;
  background: rgb(191, 178, 178);
}
.croix {
  display: block;

  height: 30px;
  width: 34px;

  position: absolute;
  top: 100px;
  right: 150px;

  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
